#tweet_index
  .row
    .span8 
      .tweet_box
        %h3
          投稿一覧
        %hr
        .tweet
          %h3 
            大畠健
            %span.screen_name @ken 
            %span.time 10分前
          .comment  
            %p いつ寝るの？今でしょー！
          .favorite
            %p
              %a
                %i.icon-star
                お気に入りに登録  
          .fav_list
            .fav_number
              .number{align: "center"}
                %strong 4
              .text
                %p 件のお気に入り

            .fav_pic
        .tweet
          %h3 
            大畠健
            %span.screen_name @ken 
            %span.time 10分前
          .comment  
            %p いつ寝るの？今でしょー！
          .favorite
            %p
              %a
                %i.icon-pencil
                編集
              %a
                %i.icon-trash
                削除
              %a
                %i.icon-star
                お気に入りに登録  
          .fav_list
            .fav_number
              .number{align: "center"}
                %strong 4
              .text
                %p 件のお気に入り

            .fav_pic

      
      %a.detail_tweet
        もっとみる    

    .span4
      .my_profile
        .profile_box
          %h3 @saiwki
          %a プロフィールをみる
          .profile_list
            %a.list_num
              %strong 43
              %br
              ツイート
            %a.list_num
              %strong 23
              .text
                お気に入り
            %a.list_num
              %strong 6
              .text
                フォロー
            %a.list_num
              %strong 7
              .text
                フォロワー
          .clear      






